services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: travellatvia
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
